/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* header {
  border-bottom: 1rem solid gray;
} */

:root {
  background-color: whitesmoke;
}

body {
  margin: 50px;
  max-width: 900px;
  min-width: 700px;
}

footer, nav {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0.1rem solid gray;
  border-bottom: 0.1rem solid gray;;
  font-size: 1em;
  font-weight: 600;
}

iframe {
  margin: 10px 10px;
  width: 100%;
  height: 450px;
  border: 0.1rem solid black;
  border-radius: 1%;
}

.nav-link {
  margin: 10px;
  color: black;
  font-size: 1.3em;
  font-weight: 600;
}

.nav-favicon {
height: 40px;
}

.footer-link {
  margin-left: 10px;
  color: black;
  font-size: 1em;
  font-weight: 600;
}

h1, h2, p {
  margin: 10px;
}

label, input, button, textarea, button {
  display: flex;
  flex-flow: column;
  margin-left: 20px;
}

label {
  margin-top: 30px;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 600;
}

input, textarea {
  /* border: 0.2rem solid black;
  border-radius: 3%; */
  border-left: none;
  border-right: none;
  border-bottom: 0.2rem solid black;;
  border-top: 0.2rem solid black;
}

textarea {
  width: 70%;
  height: 150px;
}

input {
  height: 2.5em;
  width: 300px;
}

button {
  margin-top: 30px;
  background-color: white;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 600;
  border: 0.2rem solid black;
  border-radius: 3%;
  /* border: 0.1rem solid black;
  border-radius: 1%; */
}